<div id="thecarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#thecarousel" data-slide-to="0" class="active"></li>
      <li data-target="#thecarousel" data-slide-to="1"></li>
      <li data-target="#thecarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <section class="jumbotron" id='jumbo1'>
                <div class="jumbocontent">
                    <h1 class="display-4">Welcome to the Lewiston Liberty Theater!</h1>
                    <p class="newlead">
                        <a class="btn btn-primary btn-lg" href="{{'members.html' | relative_url}}" role="button">Our Members</a>
                    </p>
                </div>
            </section>
          </div>
          <div class="carousel-item" >
            <section class="jumbotron" id='jumbo2'>
                <div class="jumbocontent">
                    <h1 class="display-4">100 years of history!</h1>
                    <p class="newlead">
                        <a class="btn btn-primary btn-lg" href="{{'history.html' | relative_url}}" role="button">Learn More</a>
                    </p>
                </div>
            </section>
          </div>
          <div class="carousel-item">
            <section class="jumbotron" id='jumbo3'>
                <div class="jumbocontent">
                    <h1 class="display-4">Join the effort!</h1>
                    <p class="newlead">
                        <a class="btn btn-primary btn-lg" href="{{'gallery.html' | relative_url}}" role="button">Learn More</a>
                    </p>
                </div>
            </section>
          </div>
    </div>
    <a class="carousel-control-prev" data-target="#thecarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" data-target="#thecarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>